h2 Centro de Mensajes

form(id='myForm')
    input(type="email", id='username', placeholder="Ingrese su email")
    input(type="text", id='texto', placeholder="escribe algo")
    input(type="submit", value="Enviar")

div(id="messages")