h2 Centro de Mensajes

form(id='myForm')
    input(type="email", id='username', placeholder="Ingrese su email", style="margin:10px;")
    br
    input(type="text", id='texto', placeholder="Escribe algo", style="margin:10px;")
    br
    input(type="submit", value="Enviar", style="margin:10px;")

div(id="messages")