div(class="container d-flex flex-column justify-content-center", style='margin: 20px 0px 20px 0px;background-color: darkgray')
    if showList 
        table.table(id="table")
            tr
                th Nombre del producto
                th Precio
                th Imagen
            each product in list
                tr
                    td=product.title
                    td=product.price
                    td
                        img(src=product.thumbnail, alt=product.title, width='100px')
    else
        div(style='padding: 20px; border:solid 1px black; background-color: #a8a8db;text-align:center')
            h2 No hay productos