h2(style='text-align: center') Centro de Mensajes

form(id='myForm')
    input(type="email", class='form-control', id='username', placeholder="Ingrese su email", style="margin:10px 0px 0px 0px;")
    br
    input(type="text", class='form-control', id='name', placeholder="Ingrese su nombre", style="margin:10px 0px 0px 0px;")
    br
    input(type="text", class='form-control', id='lastName', placeholder="Ingrese su apellido", style="margin:10px 0px 0px 0px;")
    br
    input(type="text", class='form-control', id='age', placeholder="Ingrese su edad", style="margin:10px 0px 0px 0px;")
    br
    input(type="text", class='form-control', id='alias', placeholder="Ingrese su alias", style="margin:10px 0px 0px 0px;")
    br
    input(type="text", class='form-control', id='avatar', placeholder="Ingrese su avatar (url)", style="margin:10px 0px 0px 0px;")
    br
    input(type="text", class='form-control', id='texto', placeholder="Escribe algo", style="margin:10px 0px 0px 0px;")
    br
    input(type="submit", class="btn btn-primary", value="Enviar", style="margin:10px 0px 10px 0px;")

div(id="messages")