html 
    head
        title="Agregar producto"
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", crossorigin="anonymous")
    body
        div(class="container d-flex justify-content-between", style='padding: 10px 60px 10px 60px ;background-color: #CFCFEA; width:90vw; margin-bottom: 10px;')
            h2(style='text-align:center; color: green;') Hasta luego
                span(style='margin:5px;')=username
    script 
        include ../controllers/session.js
